services:
  video-processor:
    build:
      context: .
      dockerfile: ./video-processor/Dockerfile
    container_name: video-processor-app
    ports:
      - "${VIDEO_PROCESSOR_PORT}:8080"
    restart: always
    networks:
      - backend
      - frontend
    depends_on:
      - video-db
      - video-object-storage
      - video-kafka
      - video-handler
    env_file:
      - .env
    volumes:
      - ./video-processor/src/main/resources/application.properties:/app/application.properties
      - ./video-processor/src/main/resources/logback.xml:/app/logback.xml
  video-object-storage:
    image: quay.io/minio/minio
    ports:
      - "${OBJECT_STORAGE_PORT}:9000"
      - "${OBJECT_WEB_STORAGE_PORT}:9001"
    networks:
      - backend
    env_file:
      - .env
    environment:
      - MINIO_ROOT_USER=${OBJECT_STORAGE_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${OBJECT_STORAGE_ROOT_PASSWORD}
    volumes:
      - object_storage:/data
    command: server /data --console-address ":9001"
  video-handler:
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./video-handler/Dockerfile
    depends_on:
      video-kafka:
        condition: service_healthy
      video-object-storage:
        condition: service_started
    networks:
      - backend
    env_file:
      - .env
      - ./video-handler/.env
    deploy:
      resources:
        limits:
          cpus: '3.0'
          memory: 4G
  video-processor-ui:
    build:
      context: .
      dockerfile: ./video-processor-ui/Dockerfile
    ports:
      - "${VIDEO_PROCESSOR_UI_PORT}:3000"
    restart: always
    env_file:
      - .env
    networks:
      - frontend
    depends_on:
      - video-processor
  video-kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - ${KAFKA_UI_PORT}:8080
    depends_on:
      - video-zookeeper
      - video-kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: video-kafka:29092
    networks:
      - backend
      - frontend
  video-zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "${ZOOKEEPER_PORT}:2181"
    networks:
      - backend
  video-kafka:
    image: confluentinc/cp-kafka:7.8.2
    hostname: kafka
    container_name: video-kafka
    depends_on:
      - video-zookeeper
    ports:
      - "${KAFKA_PORT}:9092"
    healthcheck:
      test: [ "CMD", "bash", "-c", "nc -z localhost 9092 || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: video-zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://video-kafka:29092,PLAINTEXT_HOST://video-kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - backend
  video-db:
    image: mysql:8.4
    container_name: video_db_mysql_db_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d
    networks:
      - backend
networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge
volumes:
  db_data:
  object_storage: