VIDEO_PROCESSOR_PORT=8080
VIDEO_PROCESSOR_BASE_URL="http://localhost:${VIDEO_PROCESSOR_PORT}/api"
VIDEO_PROCESSOR_UI_PORT=3000
VIDEO_GIF_TIMEOUT=30

VIDEO_HANDLER_CPU=3.0
VIDEO_HANDLER_MEMORY=8G

OBJECT_STORAGE_PORT=9000
OBJECT_WEB_STORAGE_PORT=9001
OBJECT_STORAGE_ROOT_USER=video-processor
OBJECT_STORAGE_ROOT_PASSWORD=video-processor
OBJECT_STORAGE_URI=http://video-object-storage:9000

KAFKA_PORT=9092
ZOOKEEPER_PORT=2181
KAFKA_UI_PORT=8090
KAFKA_VIDEO_TOPIC=gif-video
KAFKA_VIDEO_FINISH_TOPIC=gif-video-finish
KAFKA_VIDEO_ERROR_TOPIC=gif-video-error

DB_DATABASE=video-processor
DB_USER=root
DB_PASSWORD=root
DB_PORT=63306
DB_JDBC_PORT=3306
DB_HOST=video-db